
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.header {
  display: inline;
  text-decoration: none;
}

.header h3 {
  text-align: left;
  padding-top: 20px;
  margin-left: 80px;
}

.header hr {
  margin: 20px 60px;
  border-color: blue;
}

.header nav {
  display: flex;
  justify-content: end;
  margin-right: 80px;
}

.header nav li {
  list-style-type: none;
  display: inline;
  padding-right: 30px;
}

.header nav li a {
  color: rgb(104, 98, 98);
}

.header nav li a:hover {
  color: blue;
}

.section {
  font-size: 30px;
  text-align: center;
  padding-bottom: 40px;
}

.section hr {
  margin: 20px 60px;
}

.section h3 {
  font-weight: lighter;
  padding-bottom: 250px;
  padding-top: 100px;
}

.footer {
  display: flex;
  justify-content: space-around; 
  align-items: center;
  text-align: center;
  padding: 20px;
  flex-wrap: wrap; 
}

.footer-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 45%; 
  margin: 10px;
}

.footer h4 {
  font-size: 25px;
  margin-bottom: 10px;
}

.footer nav {
  display: flex;
  justify-content: center;
  gap: 20px; 
}

.footer nav li {
  list-style-type: none;
}

.footer nav li a {
  color: rgb(144, 139, 139);
  font-size: 16px;
}

.footer nav li a:hover {
  color: blue;
}

/* Media queries for responsiveness */

@media (max-width: 768px) {
  .header h3 {
    margin-left: 20px;
    font-size: 24px; 
  }

  .header nav {
    justify-content: center;
    margin-right: 20px;
  }

  .header nav li {
    padding-right: 15px; 
  }

  .section {
    font-size: 24px;
  }

  .section h3 {
    padding-bottom: 100px; 
    padding-top: 50px;
  }

  .footer {
    flex-direction: column; 
  }

  .footer-column {
    flex-basis: 100%; 
    margin: 20px 0;
  }
}

@media (max-width: 480px) {
  .header h3 {
    font-size: 20px; 
    margin-left: 10px;
    
  }

  .header nav li {
    padding-right: 10px; 
  }

  .section {
    font-size: 20px;
  }

  .footer h4 {
    font-size: 20px; 
  }

  .footer nav li a {
    font-size: 14px; 
  }
}
